.MuiToolbar-regular {
    padding: 0px 40px;
}
button.MuiButtonBase-root.App-menuButton-4{
    margin-left: 0px;
    /* padding-left: 0px; */
}

.App-grow-13 {
    text-align: center;
}
.App-grow-13 img {
    width: 60px;
}
.logo-text{
    color: #1c1c1c;
    font-weight: 700;
    margin-left: 12px;
    font-size: 18px;
}
.menu-section-left ul.MuiList-root.MuiList-padding div a span:hover{
    color: #145388;
}
.menu-section-left .active:after{ 
content: " ";
    background: #145388;
    color: #fff;
    border-radius: 10px;
    position: absolute;
    width: 6px;
    height: 90px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.MuiBox-root-15 {
    max-height: 85vh;
    overflow: auto;
    height: 100%;
}

/* ===========BUTTON CODE START=============== */
.save-btn {
    background: #26B99A !important;
    color: white !important;
}

.close-btn {
    background: #337ab7 !important;
    color: white !important;
}

.save-btn1 {
    background: #337ab7 !important;
    color: white !important;
}
.save-btn1:hover{
    background: #ffffff !important;
    color: #337ab7 !important;
    border:2px solid #337ab7 !important;
}


.close-btn1 {
    background: #ffffff !important;
    color: #337ab7 !important;
    border:2px solid #337ab7 !important;
    /* padding: 0px !important; */
}

.close-btn1:hover{
    background: #337ab7 !important;
    color: #ffffff !important;
    /* border:0px solid #337ab7 !important; */
}
.mobile-hide{
    display: block !important;
}
.header-top-profile{
    display: flex !important;
}
.login-box{
    width: 28%;
    margin: 0px auto !important;
    padding: 30px 22px;
}
.login-bg {
    background-image: url(../src/assets/login-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.login-head{
    color: white;
}

.login-bg label {
    color: rgb(255, 255, 255) !important;
}
.login-bg input {
  /* border: 1px solid white; */
   border-radius: 5px;
}
/* .login-bg .MuiSelect-selectMenu{
    background: white;
} */
.login-bg .MuiInputBase-root {
    color: rgba(255, 255, 255, 0.87);
}
.login-logo{
    width: 60px;
    margin-bottom: 20px;
}

.login-bg .MuiSelect-iconOutlined {
    right: 7px;
    color: white;
}
.MuiSelect-outlined.MuiSelect-outlined {
    /* border: 1px solid white !important; */
    padding-right: 32px;
}

.tab-content {
    border: 1px solid #e5e5e5;
    padding: 15px;
}

.ant-table-wrapper.responsive-table {
    min-width: 200px;
    overflow: auto;
}
.MuiDialog-paperWidthSm {
    max-width: 820px;
}
/* ===========BUTTON CODE END=============== */




/* ===================BILL PRINT CODE START======================= */






/* ===============RESPONSIVE CSS CODE START================ */

@media (max-width: 1399.98px) {
}



@media (max-width: 1199.98px) { }



@media (max-width: 991.98px) { 
    .App-root-1 {
        display: inherit !important;
    }
    .App-content-12 {
        margin: 140px 30px 40px 150px !important;
        padding: 15px !important;
    }
    .ant-tabs-extra-content h3 {
        display: none !important;
    }

 }

 @media (max-width: 767px) {
    .MuiTypography-h6 {
        font-size: 0.9rem !important;
    }
    .header-top-profile{
        display: initial !important;
    }

    .responsive-logo{
        width: 35% !important;
    }
    .mobile-hide{
        display: none !important;
    }
    .App-root-1 {
        display: initial !important;
    }
    .ant-table-content {
        overflow: auto !important;
    }

    .App-content-12 {
        margin: 100px 15px 15px 15px !important;
        padding: 8px !important;
    }
    .ant-tabs-extra-content h3 {
        display: none !important;
    }
}

@media (max-width: 766px){
    .responsive-logo {
        width: 9% !important;
    }
    }


@media (max-width: 750px){
    .responsive-logo {
        width: 11% !important;
    }
    }

@media (max-width: 700px){
.responsive-logo {
    width: 11% !important;
}
}

@media (max-width: 600px) { 

.responsive-logo {
    width: 10% !important;
}
}

 @media (max-width: 575.98px) { 
    .MuiToolbar-regular {
        padding: 0px 20px !important;
    }
    .responsive-logo {
        width: 13% !important;
    }

}

@media (max-width: 425px) { 
    .MuiToolbar-regular {
        padding: 0px 20px !important;
    }
    .responsive-logo {
        width: 35% !important;
    }

}

@media (max-width: 375px) { 

    .MuiToolbar-regular {
        padding: 0px 12px !important;
    }
    
    .App-menuButton-4 {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .responsive-logo {
        width: 35% !important;
    }
}



@media (max-width: 320px) { 

    .MuiToolbar-regular {
        padding: 0px 0px !important;
    }
    
    .App-menuButton-4 {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .responsive-logo {
        width: 35% !important;
    }

}




/* ===============RESPONSIVE CSS CODE END================ */